
<div>
  <button class="btn w-100 btn-outline-primary btn-sm my-2" (click)="open(mymodal)">Start new message</button>
</div>
   
<ng-template #mymodal let-modal >
  
  <div class="modal-body" >

    <h3 class="text-center">New Message</h3>
    
    <form
      *ngIf="!isSuccessful"
      name="form"
      class="p-2 w-100"
      (ngSubmit)="f.form.valid && onSubmit(f)"
      #f="ngForm"
      novalidate
    > 
      <div class="mb-4 auth-input form-group w-100">
        <input
          #phone="ngModel"
          type="text" 
          pattern="[0-9]*"
          class="form-control w-100" 
          id="phone"
          name="phone"
          [(ngModel)]="form.phone"
          required
          placeholder="Input phone number here.."
          minlength="8"
          maxlength="15"
        >
        <div class="alert-danger" *ngIf="phone.errors && f.submitted">
          <div *ngIf="phone.errors.required">Phone is required</div>
          <div *ngIf="phone.errors.minlength">Minimum length of number is 8</div>
          <div *ngIf="phone.errors.pattern">
            Phone must be a valid number
          </div>
        </div>
        <div class="alert-danger" *ngIf="form.phone === websocketService.myPhone">Can not send to your own number</div>
      </div>
      <div class="mb-4 auth-input form-group w-100">
        <textarea
          type="text"
          #message="ngModel"
          class="form-control w-100"
          placeholder="Type message here.."
          name="message"
          [(ngModel)]="form.message"
          required
        ></textarea>
        <div class="alert-danger" *ngIf="message.errors && f.submitted">
          <div *ngIf="message.errors.required">Message is required</div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-dark ml-auto">
        <ng-container *ngIf="websocketService.loadingSendNewMsg">
          <div class="spinner-border text-secondary" size="sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </ng-container>
        Send
      </button>

    </form>


  </div>
</ng-template>