<!-- <input
  type='search'
  class='form-control bg-white search mb-3 mt-1'
  placeholder='Search phone'
/> -->   
<div>
  <button class="btn w-100 btn-outline-primary btn-sm my-2" (click)="open(mymodal)">Send new message</button>
</div>
   
<ng-template #mymodal let-modal class="fit-content">
  <div class="modal-body fit-content">
    
    <div
      name="form"
      class="p-2 w-100"
    > 
      <div class="mb-4 auth-input form-group">
        <input
          type="text" 
          class="form-control w-100" 
          id="phone"
          name="phone"
          [(ngModel)]="form.phone"
          required
          placeholder="Phone"
        >
      </div>
      <div class="mb-4 auth-input form-group">
        <textarea
          type="text"
          class="form-control w-100"
          placeholder="Type message here"
          name="message"
          [(ngModel)]="form.message"
          required
        ></textarea>
      </div>

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Send</button>

    </div>


  </div>
</ng-template>