<input
  type='search'
  class='form-control bg-white search mb-3 mt-1'
  placeholder='Search phone'
/>
<!-- <button type="button" mat-raised-button color="primary" (click)="modalShow = true">
  Basic button
</button>
<div class="modal fade" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->