<div class="my-card">
  <div class="auth-card">
    <p class="auth-title text-center">Create new account</p> 
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="mb-4 auth-input form-group">
        <input 
          type="text" 
          class="form-control" 
          id="name" 
          placeholder="Name"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="20"
          #name="ngModel"
        >
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors.required">Name is required</div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters
          </div>
          <div *ngIf="name.errors.maxlength">
            Name must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="mb-4 auth-input form-group">
        <input 
          type="text"
          pattern = "[0-9]*"
          class="form-control" 
          id="phone"
          name="phone"
          [(ngModel)]="form.phone"
          required
          minlength="8"
          maxlength="15"
          #phone="ngModel" 
          placeholder="Phone"
        >
        <div class="alert-danger" *ngIf="phone.errors && f.submitted">
          <div *ngIf="phone.errors.required">Phone is required</div>
          <div *ngIf="phone.errors.minlength">Minimum length of number is 8</div>
          <div *ngIf="phone.errors.pattern">
            Phone must be a valid number
          </div>
        </div>
      </div>
      <div class="mb-4 auth-input form-group">
        <input 
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          class="form-control" 
          placeholder="Password"
        >
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <button type="submit" class="btn-auth-submit mb-2" >
        <ng-container *ngIf="isLoading">
          <div class="spinner-border text-light" size="sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </ng-container>
        Submit
      </button>
      <div>
        <span class="float-end auth-small-text">Already have an account? <a class="text-decoration-none" href="/">Login</a> </span>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      <p>Your registration is successful!</p>
      <a class="text-decoration-none" href="/auth/login">Go To Login</a>
    </div>
  </div>
</div>