<div class="my-card">
  <div class="auth-card">
    <p class="auth-title text-center">Login to your account</p> 
    <form>
      <div class="mb-4 auth-input">
        <input type="number" class="form-control" id="phone" placeholder="Phone">
      </div>
      <div class="mb-4 auth-input">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn-auth-submit mb-2">Submit</button>
      <div>
        <span class="float-end auth-small-text">Not registered? <a class="text-decoration-none" href="/register">Create an account</a> </span>
      </div>
    </form>
  </div>
</div>