<div class="list-wrapper">
  <div class="list mb-3 pointer" *ngFor="let message of listMessage">

    <div class="img-wrapper d-flex align-items-center justify-content-center">
      <img src="https://i.pinimg.com/236x/ce/2a/95/ce2a95e99faceaf7af19c273b10ebcc1.jpg" alt="avatar">
    </div>

    <div 
      class="text-wrapper d-flex flex-column justify-content-center" 
      (click)="selectList.emit({
        id: message._id, 
        name: message.users_info[0]._id === myId ? message.users_info[1].name : message.users_info[0].name,
        contactId: message.users_info[0]._id === myId ? message.users_info[1]._id : message.users_info[0]._id
      })" 
    >
      <ng-container *ngIf="message.users_info[0]._id === myId; else anotherId">
        <p class="sender-name"> {{message.users_info[1].name}}</p>
      </ng-container>
      <ng-template #anotherId>
        <p class="sender-name"> {{message.users_info[0].name}}</p>
      </ng-template>
      
    </div>

    <div class="time-wrapper d-flex align-items-center justify-content-end">
      <p>15:00</p>
    </div>

  </div>
</div>