<div class="chatroom w-100">  

  <div class="chatroom-wrapper mb-2">    
    
  <div *ngIf="activeRoom!==undefined">
    <div *ngFor="let chat of activeRoom" >
      <ng-container *ngIf="chat.senderId === myId; else imNotSender">
        <div class="d-block">
          <div class="balloon-right">
            <p class="right-chat"> {{chat.message}} </p>
          </div>
        </div>
      </ng-container>
      <ng-template #imNotSender>
        <div class="d-block">
          <div class="balloon-left">
            <p class="left-chat"> {{chat.message}} </p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="input-chat d-flex shadow-sm">
    <textarea [(ngModel)]="message" (change)="onKey($event)" class="form-control textarea" rows="1" placeholder="Type here"></textarea>
    <div (click)="send()" class="send d-flex justify-content-end align-items-center pointer"> 
      <i class="material-icons">send</i> 
    </div>
  </div>

</div>