<div class="my-card">
  <p class="auth-title mb-2">Chat</p>
  <div class="layout">

    <!-- left side of chat view (chatlist) -->
    <div class="left">
      <app-new-chat></app-new-chat>
      
      <app-list-chat [items]="items" [contactMessage]="contactMessage" [myId]="userId" (selectList)="selectList($event)" ></app-list-chat>
      
    </div>

    <!-- right side of chat view (chatroom) -->
    <div class="right">

      <app-contact-name [activeUser]="activeUser" ></app-contact-name>

      <app-chatroom [activeRoom]="activeRoom" [myId]="userId" ></app-chatroom>

    </div>
  </div>
</div>