<div class="my-card">
  <p class="auth-title mb-2">Chat</p>
  <div class="layout">

    <!-- left side of chat view (chatlist) -->
    <div class="left">
      <app-new-chat></app-new-chat>
      
      <app-list-chat [items]="items" [contactMessage]="contactMessage" [myId]="userId" (selectList)="selectList($event)" ></app-list-chat>
      
    </div>

    <!-- right side of chat view (chatroom) -->
    <div class="right">

      <app-contact-name></app-contact-name>

      <app-chatroom></app-chatroom>
    
      <!-- <div class="chatroom w-100">

        <div class="chatroom-wrapper mb-2">
          <div class="balloon-left">
            <p class="left-chat">
              Tikal adalah reruntuhan kota kuno di hutan hujan Guatemala yang dulu mungkin bernama Yax Mutal. Tikal merupakan salah satu kota terbesar dalam peradaban Maya pada zaman pra-Kolumbus. Kota ini terletak di wilayah Cekungan Petén di Departemen El Petén. 
            </p>
          </div>
  
          <div class="balloon-right">
            <p class="right-chat">
              Tikal adalah reruntuhan kota kuno di hutan hujan Guatemala yang dulu mungkin bernama Yax Mutal. Tikal merupakan salah satu kota terbesar dalam peradaban Maya pada zaman pra-Kolumbus. Kota ini terletak di wilayah Cekungan Petén di Departemen El Petén. 
            </p>
          </div>
  
          <div class="balloon-left">
            <p class="left-chat">
              Tikal adalah reruntuhan kota kuno di hutan hujan Guatemala yang dulu mungkin bernama Yax Mutal. Tikal merupakan salah satu kota terbesar dalam peradaban Maya pada zaman pra-Kolumbus. Kota ini terletak di wilayah Cekungan Petén di Departemen El Petén. 
            </p>
          </div>
  
          <div class="balloon-right">
            <p class="right-chat">
              Tikal adalah reruntuhan kota kuno di hutan hujan Guatemala yang dulu mungkin bernama Yax Mutal. Tikal merupakan salah satu kota terbesar dalam peradaban Maya pada zaman pra-Kolumbus. Kota ini terletak di wilayah Cekungan Petén di Departemen El Petén. 
            </p>
          </div>
  
          <div class="balloon-left">
            <p class="left-chat">
              Tikal adalah reruntuhan kota kuno di hutan hujan Guatemala yang dulu mungkin bernama Yax Mutal. Tikal merupakan salah satu kota terbesar dalam peradaban Maya pada zaman pra-Kolumbus. Kota ini terletak di wilayah Cekungan Petén di Departemen El Petén. 
            </p>
          </div>
  
          <div class="balloon-right">
            <p class="right-chat">
              Tikal adalah reruntuhan kota kuno di hutan hujan Guatemala yang dulu mungkin bernama Yax Mutal. Tikal merupakan salah satu kota terbesar dalam peradaban Maya pada zaman pra-Kolumbus. Kota ini terletak di wilayah Cekungan Petén di Departemen El Petén. 
            </p>
          </div>
        </div>

        <div class="input-chat d-flex shadow-sm">
          <textarea class="form-control textarea" rows="1" placeholder="Type here"></textarea>
          <div class="send d-flex justify-content-end align-items-center pointer"> 
            <i class="material-icons">send</i> 
          </div>
        </div>

      </div> -->
      <button (click)="getContact()" >Contact</button>
      <!-- <button (click)="getChat()" >Chat</button> -->
      <button (click)="newChat()" >newChat</button>

    </div>
  </div>
</div>