
.layout {
  display: flex;
  width: 100%;
  height: 95%;
}

.left {
  width: 35%;
  padding-right: 2%;
}

.right {
  width: 75%;
}

.list-wrapper {
  overflow: auto;
  /* background-color: yellowgreen; */
  height: 90%;
}

.list {
  height: 65px;
  background-color: #fafbff;
  border-radius: 10px;
  display: flex;
}

.img-wrapper {
  width: 20%;
}

.img-wrapper img {
  width: 45px;
  border-radius: 50%;
}

.text-wrapper {
  width: 60%;
}

.sender-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.content {
  font-size: 14px;
  color: #b9bcc3;
  margin-bottom: 0;
}

.time-wrapper {
  width: 20%;
  font-size: 12px;
  color: #b9bcc3;
  padding-right: 10px;
}

.search {
  background-color: #fafbff;
  border-radius: 10px;
  border: none;
  color: #b9bcc3;
}

.contact-info {
  display: flex;
  height: 75px;
  background-color: #fafbff;
  border-radius: 10px;
}

.img-contact {
  width: 15%;
}

.img-contact img {
  border-radius: 50%;
  width: 60px;
}

.sender-name-right {
  font-size: 20px;
  font-weight: 700;
}

.chatroom {
  height: 91%;
  background-color: #fafbff;
  padding: 20px;
  /* overflow: auto; */
}

.chatroom-wrapper {
  height: 90%;
  overflow: auto;
}

.balloon-left {
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #f1f5fe;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.left-chat {
  font-size: 13px;
}

.balloon-right {
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  background-color: #6d1cff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.right-chat {
  font-size: 13px;
  color: #f1f5fe;
}

.input-chat {
  border-radius: 10px;
  height: 50px;
  padding-right: 10px;
  padding-top: 5px;
}

textarea {
  resize: none;
  border: none;
}

.textarea {
  width: 95%;
}

.send {
  width: 5%;
  color: #6d1cff;
}

.send i {
  font-size: 28px;
}

.form-control:focus {
  box-shadow: none;
}

.image-wrapper {
  height: 100px;
}

.button-logout {
  background-color: transparent; 
  border: none;
  color: red;
}

.button-logout:hover {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
  content: "Logout";
  font-size: 0.75rem;
}