<div class="my-card">
  <p class="auth-title mb-2">{{ myName }} 
    <span style="font-size: small; font-weight: 300;" >( {{ myPhone }} )</span>
  </p>
  <div class="layout">

    <!-- left side of chat view (chatlist) -->
    <div class="left">
      <app-new-chat ></app-new-chat>
      
      <app-list-chat [listMessage]="listMessage" [myId]="userId" (selectList)="selectList($event)" ></app-list-chat>
      
    </div>

    <!-- right side of chat view (chatroom) -->
    <div class="right">

      <ng-container *ngIf="!websocketService.chatMessages.length; else roomIsActive">
        <div class="h-100 w-100 d-flex align-items-center justify-content-center">
          No room selected
        </div>
      </ng-container>

      <ng-template #roomIsActive>
        <app-contact-name [activeUser]="activeUser" ></app-contact-name>
        <app-chatroom 
          [chatMessage]="chatMessage" 
          [activeId]="activeId" 
          [activeContactId]="activeContactId" 
          [myId]="userId" 
          (sendChat)="sendChat($event)" >
        </app-chatroom>
      </ng-template>
      
    </div>
  </div>
</div>